<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<div class="d-flex justify-content-center">
<h1>Weather App</h1>
</div>
<p> Welcome to the Weather Application. On this page you will be able to find details about todays weather.</p>

<h2>Weather Specification</h2>

<table class="table table-info table-striped">
  <tr>
    <th>Temperature (&#8451;)</th>
    <th>Definition</th>
  </tr>
  <tr>
    <td>Hot</td>
    <td>&#62 18&#8451;</td>
  </tr>
  <tr>
    <td>Warm</td>
    <td>11&#8451; - 17&#8451;</td>
  </tr>
  <tr>
    <td>Cold</td>
    <td>&#60 11&#8451;</td>
  </tr>
</table>

<label for="basic-url" class="form-label">Input UK Postcode:</label>
<form action="">
  <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3">Postcode</span>
  <input type="text" name="postcode" id="postcode" class="form-control" aria-describedby="basic-addon3">
  <button type="submit" class="btn btn-outline-secondary">Create</button>
</div>
</form>

<!-- Add a break space -->
</br>

<div class="container">

<h2>Weather Result</h2>

<% weatherdata = WeatherData.new(@postcode)

unless @postcode == nil
temp = weatherdata.gettempdata(@postcode)
end %>

<%  unless temp == nil
weatherresult = weatherdata.calculatedatacategory(temp)
end %>

<p id="weather_result">Here is the maximum temperature in  <%= @postcode %>: <%= temp %>&#8451;</p>
<%= weatherresult %>
</div>
