<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


<h1>Weather App</h1>
<p> Welcome to the Weather Application. On this page you will be able to find details about todays weather.</p>

<h2>Weather Specification</h2>

<table>
  <tr>
    <th>Temperature (Degrees Celsius)</th>
    <th>Definition</th>
  </tr>
  <tr>
    <td>Hot</td>
    <td>&#62 18&#8451;</td>
  </tr>
  <tr>
    <td>Warm</td>
    <td>11&#8451; - 17&#8451;</td>
  </tr>
  <tr>
    <td>Cold</td>
    <td>&#60 11&#8451;</td>
  </tr>
</table>

<p>Input Postcode: </p>
<input type="text" id="user-postcode">
<input type="submit" value="Submit" id="submit-btn">

<script type="text/javascript">
  $.ajax({
    url: "http://api.weatherapi.com/v1/forecast.json?key=d1d165c764064cec9ce73314211502&q=ip130sr&days=0",
    type: "get",
    data: "",
    success: function(data) { console.log(data);},
    error: function(data) {}
  });

//   $(document).on("click", "#submit-btn", function(){
//  $.ajax({
//   url: "http://api.weatherapi.com/v1/forecast.json?key=d1d165c764064cec9ce73314211502&q=ip130sr&days=0",
//   data: {random_param:"Hello there!"},
//   dataType: "json",
//   success: function(response) {
//   var response = data.random_param_name;
//   alert("Response is => " + response)
//  },
//  error: function(error){console.log(error)}
//  });
// });



</script>
